<ion-header><ion-toolbar><ion-title>Register</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <ion-input label="Nama" [(ngModel)]="name"></ion-input>
  <ion-input label="Email" [(ngModel)]="email"></ion-input>
  <ion-input label="Password" type="password" [(ngModel)]="password"></ion-input>

  <ion-select label="Role" [(ngModel)]="role">
    <ion-select-option value="peserta">Peserta</ion-select-option>
    <ion-select-option value="admin">Admin</ion-select-option>
  </ion-select>

  <ion-button expand="block" (click)="doRegister()">Daftar</ion-button>
</ion-content>
